.card__container {
  position: relative;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__name {
  border: 1cm;
  background-color: #ffffff;
  top: 15px;
  left: 115px;
  position: absolute;
  margin: 0;
  padding: 4px;
  text-align: center;
}

.card__like-button__liked {
  background-color: red;
}

.card__like-button__unliked {
  background-color: white;
}
