.card__container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__name {
  border: 1cm;
  background-color: #ffffff;
  top: 15px;
  left: 115px;
  position: absolute;
  padding: 4px;
  text-align: center;
}

.card__header-name {
  padding: 0 5px;
  background-color: #ffffff;
}

.card__header-like-button {
  background: transparent;
}

.card__like-button {
  border: none;
  background: transparent;
  height: 19px;
  width: 21px;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 5px;
  left: 110px;
}
