.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__add-clothes-button {
  border: none;
  background-color: white;
}

.header__button {
  border: none;
  background-color: white;
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__button:hover {
  cursor: pointer;
}
.header__add-clothes-button:hover {
  cursor: pointer;
}

.header__current-user {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.header__user-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header__date {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.header__current-user-link {
  text-decoration: none;
}
