.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__add-clothes-button {
  border: none;
  background-color: white;
}

.header__add-clothes-button:hover {
  cursor: pointer;
}

.header__sign-up-button {
  border: none;
  background-color: white;
}

.header__sign-up-button__invisible {
  display: none;
}

.header__sign-up-button:hover {
  cursor: pointer;
}

.header__log-in-button {
  border: none;
  background-color: white;
}

.header__log-in-button:hover {
  cursor: pointer;
}

.header__log-in-button__invisible {
  display: none;
}

.header__current-user {
  font-family: "Angsana New";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: black;
}
