.card_section {
  margin: 40px 0 0 0;
  font-family: "FamiljenGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
  margin: 34px 0 0 0;
}

.card_name {
  text-align: center;
  position: relative;
  top: 58px;
  background-color: #ffffff;
  max-width: 200px;
  border-radius: 5px;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card_image {
  height: 328px;
  width: 328px;
  border-radius: 10px;
  border: 0.1px solid black;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
/* .modal__preview-delete-button {
   */
.item__delete-button {
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #ff4d00;
  width: 101px;
  height: 24px;
  background-color: #ffffff;
  border: none;
}
.item__delete-button_hidden {
  visibility: hidden;
}
.modal__preview-delete-button:hover {
  cursor: pointer;
}
