.clothes-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clothes-section__header {
  display: flex;
  gap: 30px;
}
.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.clothes-section__add-button {
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.clothes-section__add-button:hover {
  cursor: pointer;
}
.clothes-section__title {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
